<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="REST Assured Automation Suite" parallel="classes" thread-count="3">
    <listeners>
        <listener class-name="com.restautomation.listeners.TestListener"/>
    </listeners>
    
    <test name="API Tests">
        <classes>
            <class name="com.restautomation.tests.UserApiTest"/>
            <class name="com.restautomation.tests.PostApiTest"/>
            <class name="com.restautomation.tests.ProductApiTest"/>
            <class name="com.restautomation.tests.WireMockAPITest"/>
        </classes>
    </test>
</suite>